## home
@font-face {
  font-family: FibonSans;
  src: url("fibon.otf") format("opentype");
}

body {
  background:#16a085;
  margin:0px;
  font-family:FibonSans;
  color: white;
}

.logo {
  max-width: 320px;
  margin:auto;
  display: block;
  margin-top: 50%;
}

.container {
  max-width: 720px;
  margin: auto;
  display: block;
  text-align: center;
}

.login-button {
  background-image: url('facebook.png');
  border: none;
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-color: transparent;
  margin: auto;
  display: block
}
.main {
  background-color: #0E353B;
  min-height: 100vh;
}
ul {
  list-style-type: none;
}
.table-section {
  padding: 0px;
}
.navbar {
  width: 100%;
  height: 60px;
  background-color: #0f2c32;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
}
.title {
  background: #16A085;
  height: 40px;
  line-height: 40px;
  font-family: FibonSans !important;
  font-size: 14px;
}
.cell {
  border-bottom: 1px solid #16a085;
  height: 70px;
  line-height: 65px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.cell-image {
  width: 60px;
  float: left;
  border-radius: 50%;
  border: 2px solid #16a085;
}

.text-container {
  text-align: left;
  padding-left: 10px;
  display: table-cell;
}

.profile-image {
  border-radius: 50%;
  border: 3px solid #16a085;
}
