@font-face {
    font-family: 'fibon_sanslight';
    src: url('fibonsans-light-webfont.woff2') format('woff2'),
         url('fibonsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body,h1,h2,h3,div,button,input{
  font-weight: 100 !important;
  font-family:'fibon_sanslight';
}

h1{
  font-size: 20px;
  color:#16a085
}
.amount{
  color: #139cd5;
}

body {
  background:#16a085;
  margin:0px;
  color: white;
}

.logo-large {
  max-width: 320px;
  margin:auto;
  display: block;
}

.logo-small {
  width: 70px;
}

.container {
  max-width: 720px;
  margin: auto;
  display: block;
  text-align: center;
  padding:30px;
  position: relative;
}

button {
  border-color: transparent;
  background: transparent;
  cursor:pointer;
  font-size: 18px;
}
button:focus,input:focus {outline:0;}
.login-button {
  background-image: url('facebook.png');
  border: none;
  width: 100px;
  height: 100px;
  background-size: 100%;
  background-color: transparent;
  margin: auto;
  margin-bottom: 70px;
  display: block
}
.login-title{
  margin-top: 120px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
}
.paid-large{
  max-width: 100%;
}
.main {
  background-color: #0E353B;
  min-height: 100vh;
}

ul,li {
  list-style-type: none;
}

.debt-amount{
  padding: 5px;
  height: 25px;
  width: 95%;
  margin-bottom: 20px;
  background: transparent;
  border-color: #4f5a69;
  border-radius: 5px;
  color:white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}

.table-section {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #0f2c32;
  font-size: 22px;
  line-height: 60px;
  text-align: center;
}

.title {
  background: #16A085;
  height: 40px;
  line-height: 40px;
  font-family: FibonSans !important;
  font-size: 14px;
}

.cell {
  border-bottom: 1px solid #16a085;
  height: 70px;
  line-height: 65px;
  padding-top: 20px;
  padding-bottom: 10px;
  position: relative;
}

.cell-image {
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
  border: 2px solid #16a085;
}

.text-container {
  text-align: left;
  padding-left: 10px;
  display: table-cell;
  padding-left: 10px;
  text-align: left;
  display: table;
}

h3{
  margin: 0;
}

.profile-image {
  border-radius: 50%;
  border: 3px solid #16a085;
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
}

.main-button{
  background:#16a085;
  height: 40px;
  width: 49.5%;
  color:white;
  position: relative;
}

.resolve-button{
  background:#16a085;
  height: 40px;
  width: 50%;
  color:white;
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.debt-content {
  background: #0f2c32;
  padding: 30px;
  border-radius: 5px;
  min-height: 410px;
  position: relative;
}
.debt-buttons{
  position: absolute;
  margin: auto;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 10%;
}
.delete-button{
  background:#c0392b;
  height: 40px;
  width: 50%;
  color:white;
  position: relative;
}

.main-button:first-of-type{
  margin-right: 1%;
}

.menu-buttons{
  text-align: left;
  margin-top: 40px;
  margin-bottom: 5px;
}

.debt{
  color:#c0392b
}
.back{
  width: 50px;
  height: 50px;
  margin-top: 3px;
  margin-left: 0px;
  background-image: url('back.png');
  background-size: 50% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  position: absolute;
  left: 5px;
}


.appstore {
  width: 155px;
  height: 53px;
  margin-top: 30px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  background-image: url('appstore.png');
  display: block;
  background-size: 100%;
  background-position: 50% 50%;
}

.power{
  background-image: url('power.png');
}

.fb-invite{
  background-image: url('fb-invite.png');
}

.nav-right{
  width: 50px;
  height: 50px;
  margin-top: 3px;
  margin-left: 0px;
  background-size: 80% auto;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  position: absolute;
  right: 5px;
}

.modal{
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.alert{
  max-width: 320px;
  display: block;
  margin: auto;
  margin-top: 10%;
  background: #16a085;
  min-height: 100px;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
}

.modal-button {
  width: 100%;
  height: 40px;
  border: 1px white solid;
  background: transparent;
  border-radius: 2px;
  color:white;
  margin-bottom: 5px;
}
.modal-button:hover {
  background: white;
  color:#16a085;
  cursor: pointer;
}
.modal-text{
  padding: 20px;
}

.paid{
  position: absolute;
  right: 5px;
  width: 70px;
  top: 5px;
  background-image: url(paid.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 5% 50%;
  height: 64px;
}

.notification {
  background: red;
  width: 30px;
  height: 30px;
  position: absolute;
  line-height: 30px;
  right: -10px;
  top: -15px;
  border-radius: 50%;
}
.info-left {
  max-width: 120px;
  display: inline-block;
  position: absolute;
  left: 15%;
  min-width: 80px;
}

.info-right {
  max-width: 120px;
  display: inline-block;
  position: absolute;
  right: 15%;
  min-width: 80px;
}

.search {
  width: 100%;
  padding: 10px;
  background: black;
  border: none;
  text-align: center;
  margin-top: 5px;
  color: white;
  border-radius: 5px;
  border: 1px solid #16a085;
}
.no-results {
  height: 300px;
  display: block;
  padding: 100px;
  text-align: center;
}
@media (max-width:600px) {
  .info-left {
    left: 5%;
  }

  .info-right {
    right: 5%;
  }
  .cell{
    line-height: normal;
  }
  .paid{
    opacity: 0.3
  }
  h1{
    font-size: 16px;
  }
}
